.nav-bar-icon {
  font-size: 4rem;
  color: rosybrown;
}

@media screen and (max-width: 600px) {
  .nav-bar-icon {
    font-size: 2rem;
  }
}

.nav-bar-items {
  font-size: 2rem;
}

@media screen and (max-width: 600px) {
  .nav-bar-items {
    font-size: 1.5rem;
  }
}

.game-cards {
  width: 18rem;
}

@media screen and (max-width: 600px) {
  .game-cards {
    width: 17rem;
  }
}

.box-with-shadow {
  -webkit-box-shadow: 13px 12px 8px -6px rgba(0, 0, 0, 0.74);
  box-shadow: 13px 12px 8px -6px rgba(0, 0, 0, 0.74);
}

.full-screen {
  height: 100vh;
  background-color: rosybrown;
}

@media screen and (max-width: 600px) {
  .full-screen {
    height: 100%;
  }
}
